{% extends "base.html" %}
{% block content %}

<div class="home-page">

    <!-- HERO SECTION -->
    <section class="hero-section">
        <img src="{{ url_for('static', filename='images/library-hero.jpg') }}" alt="Library">

        <div class="hero-overlay">
            <h1 class="home-title">LMS</h1>
            <h2 class="home-subtitle">Library Management System</h2>
            <p class="home-tagline">
                Organize • Issue • Track • Manage Books Effortlessly
            </p>
        </div>
    </section>

</div>

{% endblock %}
